<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Schedule</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block bootstrap5 %}
        <script src="{{ url_for('static', filename='bootstrap5/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css') }}">
    {% endblock bootstrap5 %}
      {% block links %}
      {% endblock links %}
    </head>
    <body>
    <div class="container">
      {% block nav %}
        {% include 'nav.html' %}
      {% endblock nav %}
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    {% block content_without_container %}
    {% endblock %}
    </body>
</html>
