{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light aligns-items-center justify-content-center">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link" style="font-weight: bold;">Schedule Project</div>
      </li>
      <li class="nav-item">
        {% set home_page = url_for('homepage.index') %}
        <a href="{{ home_page }}"
          class="nav-link {% if request.path == home_page %}{{ 'active' }}{% endif %}">
          Home
        </a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse me-auto" id="navbarNav">
    <ul class="navbar-nav justify-content-between">
      {% if not current_user.is_authenticated %}
      {% set login_page = url_for('auth.login') %}
      <li class="nav-item">
          <a
          class="nav-link {% if request.path == login_page %}{{ 'active' }}{% endif %}"
          href="{{ login_page }}">
              Авторизоваться
          </a>
      </li>
      {% set register_page = url_for('auth.register') %}
      <li class="nav-item">
          <a
          class="nav-link {% if request.path == register_page %}{{ 'active' }}{% endif %}"
          href="{{ register_page }}">
            Зарегистрироваться
          </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" >{{ current_user.name }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock nav %}
